/* Header na forma lateral */
.sidebar {
  margin: 0;
  padding: 0;
  width: 10rem;
  height: 100%;

  position: fixed;
  overflow: auto;
  background-color: #181C2e;
}

/* Background avatar */
.sidebar div {
  background: url('../../assets/cover.png') no-repeat center;
  background-size: cover;
  height: 7.5rem;
  padding-top: 1.5rem;
}

/* Avatar */
.sidebar div img {
  border-radius: 50%;
  display: block;
  margin: auto;
  width: 4.5rem;
  height: 4.5rem;

  /* Sombra */
  -webkit-filter: drop-shadow(0px 0px 3px #FFF); /*Pra navegadores mais antigos*/
  filter: drop-shadow(0px 0px 3px #FFF); /*Pra navegadores mais novos*/
  
  /*Para a imagem manter o radio aspect*/
  object-fit: cover; 
}

/* Links do Header */
.sidebar a {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  padding: .8rem;
  text-decoration: none;

  display: flex;
  flex-direction: row;
  align-items: center;

  /*Para dar o efeito quando a:hover */
  transition: ease-in-out .5s; 
} 

.sidebar a:hover { /*Config para o a:hover (junto com transition) */
  background-color: #121212;
  color: #FFF;
}

/* Icones do Header */
.sidebar a svg {
  margin-right: .5em;
}

/* Titulo em cada pagina */
.content {
  margin-left: 10rem;
  padding: .1rem .8rem;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left; /*Alinhamento do texto */
  }

  .sidebar div {
    display: none;
  }

  .sidebar a svg {
    display: none;
  }

  .content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }

  .sidebar a svg {
    display: none;
  }
}