.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #121212;
}

/* LOGIN box */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #EAEAEC;
  min-width: 22rem;
}

/* LOGO div */
.logo-area {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181c2e;
  width: 100%;
}

/* LOGO */
.logo-area img {
  width: 8rem;
  height: 5rem;
  padding: .5rem;
}

/* Form wrap */
form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 1rem;
}

/* Title */
form h1 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5em;
  color: #181c2e;
}

/* Inputs */
.login input {
  margin-bottom: .7rem;
  height: 1.7rem;
  border: 0;
  border-radius: .3rem;
  padding: .5rem;
  font-size: .7rem;
  background-color: #FFF;
}

/* Button */
form button {
  font-size: 1rem;
  color: #FFF;
  background-color: #181c2e;
  height: 2rem;
  border: 0;
  border-radius: .3rem;
}

/* Link phrase */
.login a {
  font-size: .7rem;
  margin: 1rem 0;
  color: #000;
  cursor: pointer;
}