.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #121212;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #EAEAEC;
  min-width: 22rem;
}

.logo-area {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181c2e;
  width: 100%;
}

.logo-area img {
  width: 8rem;
  height: 5rem;
  padding: .6rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 1rem;
}

form h1 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 0.5em;
  color: #181c2e;
}

.login input {
  margin-bottom: .7rem;
  height: 1.7rem;
  border: 0;
  border-radius: .3rem;
  padding: .6rem;
  font-size: .7rem;
  background-color: #FFF;
}

form button {
  font-size: 1rem;
  color: #FFF;
  background-color: #181c2e;
  height: 1.7rem;
  border: 0;
  border-radius: .3rem;
}

.login a {
  font-size: .8rem;
  margin: 1rem 0;
  color: #000;
  cursor: pointer;
}