
.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Button */
.dashboard a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: #FFF;
  background-color: #6bb131;
  width: 10rem;
  padding: .3em;
  margin-top: .7rem;
  border-radius: 5px;
}

/* ICONS button */
.dashboard a svg {
  margin-right: .5rem;
}