
.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Text */
.dashboard span {
  margin: 1em 0;
  font-size: 1rem;
  font-weight: 600; /* Define o quanto negrito o texto vai ser */
}

/* Button */
.new {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  font-size: 1rem;
  font-weight: 600;
  color: #FFF;
  background-color: #83bf02;

  border: 0;
  width: 10rem;
  padding: .5em;
  margin-bottom: 1.5rem;
  border-radius: 6px;
  transition: ease-in .3s;
}

/* ICONS button */
.new svg {
  margin-right: .5rem;
}

.new:hover {
  background-color: #5fd204;
  transform: scale(1.1);
}

/* Estilizacao da tabela */
table {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid #CCC;
  border-collapse: collapse;
  table-layout: fixed;
}

table caption {
  font-size: 1.5rem;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
}

table th, 
table td {
  padding: .62em;
  text-align: center;
}

table th {
  font-size: .8rem;
  letter-spacing: .15rem;
  text-transform: uppercase;
}

/* Botoes */
table td .action {
  border: 0;
  padding: .3rem;
  margin-right: .3rem;
  display: inline-block;
  align-items: center;
  border-radius: 5px;
}

table td .action svg {
  vertical-align: middle;
}

/* Status */
table td .badge {
  padding: .2em;
  border-radius: 5px;
  color: #FFF;
}

/* Pagina Responsiva*/
@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3rem;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .65em;
  }

  /* Alinha os dados em linha */
  table td {
    display: block;
    border-bottom: 1px solid #ddd;
    font-size: .8em;
    text-align: right;
  }

  /* Colocando os itens do cabecalho ao lado esquerdo */
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    letter-spacing: .15rem;
    text-transform: uppercase;
  }
  
  /* Tirando a ultima linha da tabela */
  table td:last-child {
    border-bottom: 0;
  }
}